<a href="https://colab.research.google.com/github/henry8695/Henry-Woodward/blob/master/10_Minutes_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing packages - analagous to loading packages in R

In [0]:
import numpy as np
import pandas as pd

Creating a Series, pandas creates a default integer index

In [6]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a dataframe by passing NumPy array

In [0]:
dates = pd.date_range('20200101', periods=6)
dates
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

Creating a dataframe  by passing objects that can be converted to series-like

In [0]:
df2 = pd.DataFrame({'A': 1.,
                    'B':pd.Timestamp('20200101'),
                    'C':pd.Series(1,index=list(range(4)), dtype='float32'),
                    'D':np.array([3]*4,dtype='int32'),
                    'E':pd.Categorical(["test","train","test","train"]),
                    'F':'foo'})
df2

The columns in the above dataframe are different types, you can check this

---

In [0]:
df2.dtypes

**VIEWING**

Viewing the top and bottom (3) rows of dataframe

In [0]:
df.head()
df.tail(3)

Display the index and columns

In [0]:
df.index
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

DataFrame.to_numpy() gives NumPy represeation of data (excludes idex and columns). Careful if columns have different data types - fundamental difference between pandas and NumPy: NumPy arrays have one dtype for array, whilst pandas have one dtype per column

In [0]:
df.to_numpy()

If we do the same to our df2 with multiple dtypes, we see it ain't great (all are now objects)

In [0]:
df2.to_numpy()

To look at summary statistics, we us the describe() function

In [0]:
df.describe()

Transposing data uses the df.T function

In [0]:
df.T

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A   -0.252880    0.598202    0.141600   -0.488988   -1.161051    1.675030
B   -0.433247   -0.396184   -1.331433   -2.109819   -0.159158   -0.594144
C    0.456853   -0.373932   -0.217964   -1.417431   -0.907740    0.436075
D    0.927167    0.423731    1.927901    0.077184   -0.275962    0.372766

Can also sort by axis values

In [0]:
df.sort_index(axis=1,ascending=False)

Can sort by values in columns

In [0]:
df.sort_values(by='B', ascending=False)

**SELECTING BY LABEL**

Can select a single colomn with [ ]

In [0]:
df['A']

2020-01-01   -0.252880
2020-01-02    0.598202
2020-01-03    0.141600
2020-01-04   -0.488988
2020-01-05   -1.161051
2020-01-06    1.675030
Freq: D, Name: A, dtype: float64

Can also select specific rows of columns

In [0]:
df[0:3]
df['A'].head(3)

In [0]:
df['20200103':'20200105']

You can also use index and column labels to subset the data

In [0]:
df.loc[dates[0]]

Selecting multi-axis by label

In [0]:
df.loc[:,['A','B']]
df.loc['20200102':'20200104', ['A', 'B']]

Reduction in dimensions

In [0]:
df.loc['20200103',['A','B']]

Select scalar value

In [0]:
df.loc['20200103',['A']]

**SELECTING BY POSITION**

In [0]:
df

                   A         B         C         D
2020-01-01 -0.252880 -0.433247  0.456853  0.927167
2020-01-02  0.598202 -0.396184 -0.373932  0.423731
2020-01-03  0.141600 -1.331433 -0.217964  1.927901
2020-01-04 -0.488988 -2.109819 -1.417431  0.077184
2020-01-05 -1.161051 -0.159158 -0.907740 -0.275962
2020-01-06  1.675030 -0.594144  0.436075  0.372766

Selcting by integer position (Remember = nrow+1)

In [0]:
df.iloc[3]

Can also use slices [row, colomn]

In [0]:
df.iloc[3:5,0:3]

or

In [0]:
df.iloc[[1, 2, 5],[1, 3]]

                   B         D
2020-01-02 -0.396184  0.423731
2020-01-03 -1.331433  1.927901
2020-01-06 -0.594144  0.372766

For rows explicitly

In [0]:
df.iloc[1:3,:]

                   A         B         C         D
2020-01-02  0.598202 -0.396184 -0.373932  0.423731
2020-01-03  0.141600 -1.331433 -0.217964  1.927901

For columns explicitly

In [0]:
df.iloc[:,0:3]