<a href="https://colab.research.google.com/github/henry8695/Henry-Woodward/blob/master/Coronavirus_Analysis_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing and pre-processing COVID-19 Data

In [0]:
#Installing packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Importing file
from google.colab import files
upload = files.upload()

Saving time_series_covid_19_confirmed (1).csv to time_series_covid_19_confirmed (1).csv

In [0]:
#Setting up dataframe
covid_19 = pd.read_csv("time_series_covid_19_confirmed (1).csv")
covid_19.head()

In [0]:
#Subsetting for mimumin cases
covid_19=covid_19[(covid_19["3/2/20"]>30)]
covid_19

In [0]:
#Taking out China and US
covid_19=covid_19[(covid_19["Country/Region"]=="Thailand") | (covid_19["Country/Region"]=="Japan") | (covid_19["Country/Region"]=="Singapore") | (covid_19["Country/Region"]=="France") | (covid_19["Country/Region"]=="Germany") | (covid_19["Country/Region"]=="Italy") | (covid_19["Country/Region"]=="UK") | (covid_19["Country/Region"]=="Spain") | (covid_19["Country/Region"]=="Bahrain") | (covid_19["Country/Region"]=="Kuwait") | (covid_19["Country/Region"]=="Switzerland") | (covid_19["Country/Region"]=="Iran(Islamic Republic of)") | (covid_19["Country/Region"]=="Republic of Korea")]
covid_19

In [0]:
#Taking out unnecessary variables
covid_19.columns
covid_19=covid_19.drop(['Province/State','Lat', 'Long','1/22/20', '1/23/20','1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20','1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20','2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20','2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20','2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20','2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20','3/11/20'], axis=1)

In [36]:
covid_19.columns

Index(['Country/Region', '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20',
       '3/7/20', '3/8/20', '3/9/20', '3/10/20'],
      dtype='object')

In [37]:
#Creating growth rate variable
covid_19['Growth Rate']=covid_19['3/10/20']/covid_19['3/2/20']
covid_19

        Country/Region  3/2/20  3/3/20  ...  3/9/20  3/10/20  Growth Rate
31            Thailand      43      43  ...      50       53     1.232558
32               Japan     274     293  ...     511      581     2.120438
35           Singapore     108     110  ...     150      160     1.481481
36              France     191     204  ...    1209     1784     9.340314
46             Germany     159     196  ...    1176     1457     9.163522
51               Italy    2036    2502  ...    9172    10149     4.984774
52                  UK      40      51  ...     321      382     9.550000
54               Spain     120     165  ...    1073     1695    14.125000
68             Bahrain      49      49  ...      95      110     2.244898
69              Kuwait      56      56  ...      64       69     1.232143
72         Switzerland      42      56  ...     374      491    11.690476
242  Republic of Korea    4335    5186  ...    7478     7513     1.733103

[12 rows x 11 columns]