<a href="https://colab.research.google.com/github/henry8695/Henry-Woodward/blob/master/Coronavirus_16_03_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setting up Environment

In [0]:
#Installing packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

# Importing Files

In [2]:
#Importing Confirmed cases file
from google.colab import files
upload = files.upload()

Saving confirmed.csv to confirmed.csv

In [3]:
#Importing Deaths file
from google.colab import files
upload = files.upload()

Saving deaths.csv to deaths.csv

In [4]:
#Importing Population file
from google.colab import files
upload = files.upload()

Saving API_SP.POP.TOTL_DS2_en_csv_v2_821007.csv to API_SP.POP.TOTL_DS2_en_csv_v2_821007.csv

In [5]:
#Importing Population Density file
from google.colab import files
upload = files.upload()

Saving population density.csv to population density.csv

In [6]:
#Importing Urban Population file
from google.colab import files
upload = files.upload()

Saving API_SP.URB.TOTL.IN.ZS_DS2_en_csv_v2_821361.csv to API_SP.URB.TOTL.IN.ZS_DS2_en_csv_v2_821361.csv

# Setting up Dataframes

In [0]:
#Setting up dataframe
covid_cases = pd.read_csv("confirmed.csv")
covid_deaths = pd.read_csv("deaths.csv")
population = pd.read_csv("API_SP.POP.TOTL_DS2_en_csv_v2_821007.csv")
density = pd.read_csv("population density.csv")
urban = pd.read_csv("API_SP.URB.TOTL.IN.ZS_DS2_en_csv_v2_821361.csv")

# Pre-processing Covid-19 Cases for Original Model

In [0]:
covid_cases.head()

In [0]:
#Subsetting for minimum cases
covid_cases=covid_cases[(covid_cases["03/04/2020"]>30)]
covid_cases

In [0]:
#Renaming variables
covid_cases.rename(columns={"Country/Region":"Country"}, inplace=True)
covid_cases

In [0]:
#Taking out China and US
covid_cases = covid_cases[covid_cases.Country != "Mainland China"]
covid_cases = covid_cases[covid_cases.Country != "US"]
covid_cases = covid_cases[covid_cases.Country != "Others"]
covid_cases = covid_cases[covid_cases.Country != "Taipei and environs"]
covid_cases = covid_cases[covid_cases.Country != "China"]
covid_cases = covid_cases[covid_cases.Country != "Cruise Ship"]
covid_cases = covid_cases[covid_cases.Country != "Taiwan*"]
covid_cases

In [0]:
covid_cases.columns

In [0]:
#Taking out unnecessary variables
covid_cases.columns
covid_cases=covid_cases.drop(['Province/State','Lat', 'Long', '1/22/20', '1/23/20','1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20','1/30/20', '1/31/20', '02/01/2020', '02/02/2020', '02/03/2020','02/04/2020', '02/05/2020', '02/06/2020', '02/07/2020', '02/08/2020','02/09/2020', '02/10/2020', '02/11/2020', '02/12/2020', '2/13/20','2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20', '2/19/20','2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20', '2/25/20','2/26/20', '2/27/20', '2/28/20', '2/29/20', '03/01/2020', '03/02/2020','03/03/2020'], axis=1)
covid_cases

In [0]:
#Creating growth rate variable
covid_cases['Growth Rate']=covid_cases['03/11/2020']/covid_cases['03/04/2020']
covid_cases

In [0]:

covid_cases["Country"].unique()

# Pre-processing Population Density Data

In [18]:
#Inspecting population density dataframe 
density

     Country Name Country Code  ...        2017        2018
0           Aruba          ABW  ...  585.366667  588.027778
1     Afghanistan          AFG  ...   55.595993   56.937760
2          Angola          AGO  ...   23.916538   24.713052
3         Albania          ALB  ...  104.870693  104.612263
4         Andorra          AND  ...  163.831915  163.842553
..            ...          ...  ...         ...         ...
259        Kosovo          XKX  ...  168.154680         NaN
260   Yemen, Rep.          YEM  ...   52.720459   53.977853
261  South Africa          ZAF  ...   46.987817   47.630120
262        Zambia          ZMB  ...   22.671395   23.341479
263      Zimbabwe          ZWE  ...   36.801719   37.324591

[264 rows x 63 columns]

In [19]:
#Subsetting relevant variables
density=density.loc[:,["Country Name","2018"]]
density

     Country Name        2018
0           Aruba  588.027778
1     Afghanistan   56.937760
2          Angola   24.713052
3         Albania  104.612263
4         Andorra  163.842553
..            ...         ...
259        Kosovo         NaN
260   Yemen, Rep.   53.977853
261  South Africa   47.630120
262        Zambia   23.341479
263      Zimbabwe   37.324591

[264 rows x 2 columns]

In [20]:
#Changing variable names
density.columns=["Country","Population Density"]
density

          Country  Population Density
0           Aruba          588.027778
1     Afghanistan           56.937760
2          Angola           24.713052
3         Albania          104.612263
4         Andorra          163.842553
..            ...                 ...
259        Kosovo                 NaN
260   Yemen, Rep.           53.977853
261  South Africa           47.630120
262        Zambia           23.341479
263      Zimbabwe           37.324591

[264 rows x 2 columns]

In [21]:
#Inspecting country names to make sure they match covid_cases
density["Country"].unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'Mainland China', "Cote d'Ivoire", 'Cameroon',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Colombia', 'Comoros',
       'Cabo Verde', 'Costa Rica', 'Caribbean small states', 'Cuba',
       'Curacao', 'Cayman Islands', 'Cyprus', 'Czech Republic', 'Germany',
       'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'UK', 'Georgia', 'Ghana',
       'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', 'Korea, Dem. People’s Rep.', 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'US', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [0]:
#Countries in covid_cases: 'Thailand', 'Japan', 'Singapore', 'Malaysia', 'Germany', 'Italy','Sweden', 'Spain', 'Iraq', 'Bahrain', 'Kuwait', 'Switzerland','Norway', 'Netherlands', 'Iran', 'Korea, South', 'France','Taiwan*', 'United Kingdom'
#NEED HELP RATHER THAN MANUALLY CHECKING
#Names needing to change to from density: 'Iran, Islamic Rep.' to 'Iran'; 'Korea, Rep.' to 'Korea, South'; 'UK' to 'United Kingdom'

In [23]:
density.loc[density["Country"] == "UK", "Country"] = "United Kingdom"
density.loc[density["Country"] == "Iran, Islamic Rep.", "Country"] = "Iran"
density.loc[density["Country"] == "Korea, Rep.", "Country"] = "Korea, South"
density["Country"].unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'Mainland China', "Cote d'Ivoire", 'Cameroon',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Colombia', 'Comoros',
       'Cabo Verde', 'Costa Rica', 'Caribbean small states', 'Cuba',
       'Curacao', 'Cayman Islands', 'Cyprus', 'Czech Republic', 'Germany',
       'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran', 'Iraq', 'Iceland', 'Israel',
       'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis',
       'Korea, South', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', 'Korea, Dem. People’s Rep.', 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'US', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [24]:
#Removing Outliers
density=density[density["Population Density"] < 1000]
density

          Country  Population Density
0           Aruba          588.027778
1     Afghanistan           56.937760
2          Angola           24.713052
3         Albania          104.612263
4         Andorra          163.842553
..            ...                 ...
258         Samoa           69.303887
260   Yemen, Rep.           53.977853
261  South Africa           47.630120
262        Zambia           23.341479
263      Zimbabwe           37.324591

[246 rows x 2 columns]

In [25]:
#Merging with covid_cases
left=covid_cases
right=density
covid_cases=pd.merge(left, right, on="Country")
covid_cases

           Country  03/04/2020  ...  Growth Rate  Population Density
0         Thailand          43  ...     1.372093          135.897207
1            Japan         331  ...     1.930514          347.073458
2         Malaysia          50  ...     2.980000           95.962821
3          Germany         262  ...     7.282443          237.370970
4            Italy        3089  ...     4.034315          205.450748
5           Sweden          35  ...    14.285714           25.001043
6            Spain         222  ...    10.256757           93.529058
7             Iraq          35  ...     2.028571           88.530570
8           Kuwait          56  ...     1.285714          232.172222
9      Switzerland          90  ...     7.244444          215.521378
10          Norway          56  ...    10.678571           14.554920
11     Netherlands          38  ...    13.236842          511.457910
12            Iran        2922  ...     3.080082           50.222420
13    Korea, South        5621  ...     1.379648          529.652104
14          France         285  ...     8.003509          122.338396
15  United Kingdom          85  ...     5.364706          274.827392

[16 rows x 14 columns]

# Pre-processing Population Data

In [26]:
#Inspecting population dataframe 
population

     Country Name Country Code     Indicator Name  ...        2017        2018  2019
0           Aruba          ABW  Population, total  ...    105366.0    105845.0   NaN
1     Afghanistan          AFG  Population, total  ...  36296400.0  37172386.0   NaN
2          Angola          AGO  Population, total  ...  29816748.0  30809762.0   NaN
3         Albania          ALB  Population, total  ...   2873457.0   2866376.0   NaN
4         Andorra          AND  Population, total  ...     77001.0     77006.0   NaN
..            ...          ...                ...  ...         ...         ...   ...
259        Kosovo          XKX  Population, total  ...   1830700.0   1845300.0   NaN
260   Yemen, Rep.          YEM  Population, total  ...  27834821.0  28498687.0   NaN
261  South Africa          ZAF  Population, total  ...  57000451.0  57779622.0   NaN
262        Zambia          ZMB  Population, total  ...  16853688.0  17351822.0   NaN
263      Zimbabwe          ZWE  Population, total  ...  14236745.0  14439018.0   NaN

[264 rows x 64 columns]

In [0]:
#Subsetting relevant variables
population=population.loc[:,["Country Name","2018"]]

In [0]:
#Changing variable names
population.columns=["Country","Population"]

In [29]:
#Changing country names
population.loc[population["Country"] == "UK", "Country"] = "United Kingdom"
population.loc[population["Country"] == "Iran, Islamic Rep.", "Country"] = "Iran"
population.loc[population["Country"] == "Korea, Rep.", "Country"] = "Korea, South"
population["Country"].unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran', 'Iraq', 'Iceland', 'Israel',
       'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis',
       'Korea, South', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', 'Korea, Dem. People’s Rep.', 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'US', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [30]:
#Merging with covid_cases
left=covid_cases
right=population
covid_cases=pd.merge(left, right, on="Country")
covid_cases

           Country  03/04/2020  ...  Population Density   Population
0         Thailand          43  ...          135.897207   69428524.0
1            Japan         331  ...          347.073458  126529100.0
2         Malaysia          50  ...           95.962821   31528585.0
3          Germany         262  ...          237.370970   82927922.0
4            Italy        3089  ...          205.450748   60431283.0
5           Sweden          35  ...           25.001043   10183175.0
6            Spain         222  ...           93.529058   46723749.0
7             Iraq          35  ...           88.530570   38433600.0
8           Kuwait          56  ...          232.172222    4137309.0
9      Switzerland          90  ...          215.521378    8516543.0
10          Norway          56  ...           14.554920    5314336.0
11     Netherlands          38  ...          511.457910   17231017.0
12            Iran        2922  ...           50.222420   81800269.0
13    Korea, South        5621  ...          529.652104   51635256.0
14          France         285  ...          122.338396   66987244.0
15  United Kingdom          85  ...          274.827392   66488991.0

[16 rows x 15 columns]

# Pre-processing Urban Population Data

In [31]:
#Inspecting population dataframe 
urban

     Country Name Country Code  ...    2018 2019
0           Aruba          ABW  ...  43.411  NaN
1     Afghanistan          AFG  ...  25.495  NaN
2          Angola          AGO  ...  65.514  NaN
3         Albania          ALB  ...  60.319  NaN
4         Andorra          AND  ...  88.062  NaN
..            ...          ...  ...     ...  ...
259        Kosovo          XKX  ...     NaN  NaN
260   Yemen, Rep.          YEM  ...  36.642  NaN
261  South Africa          ZAF  ...  66.355  NaN
262        Zambia          ZMB  ...  43.521  NaN
263      Zimbabwe          ZWE  ...  32.209  NaN

[264 rows x 64 columns]

In [0]:
#Subsetting relevant variables
urban=urban.loc[:,["Country Name","2018"]]

In [0]:
#Changing variable names
urban.columns=["Country","Urban"]

In [34]:
#Changing country names
urban.loc[urban["Country"] == "UK", "Country"] = "United Kingdom"
urban.loc[urban["Country"] == "Iran, Islamic Rep.", "Country"] = "Iran"
urban.loc[urban["Country"] == "Korea, Rep.", "Country"] = "Korea, South"
urban["Country"].unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran', 'Iraq', 'Iceland', 'Israel',
       'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis',
       'Korea, South', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', 'Korea, Dem. People’s Rep.', 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'US', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [35]:
#Merging with covid_cases
left=covid_cases
right=urban
covid_cases=pd.merge(left, right, on="Country")
covid_cases

           Country  03/04/2020  ...   Population    Urban
0         Thailand          43  ...   69428524.0   49.949
1            Japan         331  ...  126529100.0   91.616
2         Malaysia          50  ...   31528585.0   76.036
3          Germany         262  ...   82927922.0   77.312
4            Italy        3089  ...   60431283.0   70.438
5           Sweden          35  ...   10183175.0   87.431
6            Spain         222  ...   46723749.0   80.321
7             Iraq          35  ...   38433600.0   70.473
8           Kuwait          56  ...    4137309.0  100.000
9      Switzerland          90  ...    8516543.0   73.797
10          Norway          56  ...    5314336.0   82.248
11     Netherlands          38  ...   17231017.0   91.490
12            Iran        2922  ...   81800269.0   74.898
13    Korea, South        5621  ...   51635256.0   81.459
14          France         285  ...   66987244.0   80.444
15  United Kingdom          85  ...   66488991.0   83.398

[16 rows x 16 columns]

# Creating Temperature Dataframe

In [0]:
covid_cases

In [37]:
covid_cases["Country"].unique()

array(['Thailand', 'Japan', 'Malaysia', 'Germany', 'Italy', 'Sweden',
       'Spain', 'Iraq', 'Kuwait', 'Switzerland', 'Norway', 'Netherlands',
       'Iran', 'Korea, South', 'France', 'United Kingdom'], dtype=object)

In [0]:
d = {'Country': ['Thailand', 'Japan', 'Malaysia', 'Germany', 'Italy', 'Sweden','Spain', 'Iraq', 'Kuwait', 'Switzerland', 'Norway', 'Netherlands','Iran', 'Korea, South', 'France', 'United Kingdom'], 'Temperature': [301, 282, 300, 275, 282, 270, 280, 286, 288, 275, 274, 276, 275, 272, 277, 278]}
temperature = pd.DataFrame(data=d)
temperature

In [0]:
#Merging with covid_cases
left=covid_cases
right=temperature
covid_cases=pd.merge(left, right, on="Country")
covid_cases

# Country Comparison Graph

In [0]:
graph = covid_cases.T
graph.columns=graph.iloc[0]
graph=graph[1:-5]
graph.plot()

# Government Performance

In [0]:
#Pre-processing deaths dataset
covid_deaths.rename(columns={"Country/Region":"Country"}, inplace=True)
left=covid_cases["Country"]
right=covid_deaths
cases_deaths=pd.merge(left, right, on="Country")
cases_deaths=cases_deaths[(cases_deaths["3/14/20"]>20)]
cases_deaths=cases_deaths.drop(['Province/State','Lat', 'Long', '1/22/20', '1/23/20','1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20','1/30/20', '1/31/20', '02/01/2020', '02/02/2020', '02/03/2020','02/04/2020', '02/05/2020', '02/06/2020', '02/07/2020', '02/08/2020','02/09/2020', '02/10/2020', '02/11/2020', '02/12/2020', '2/13/20','2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20', '2/19/20','2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20', '2/25/20','2/26/20', '2/27/20', '2/28/20', '2/29/20', '03/01/2020', '03/02/2020','03/03/2020'], axis=1)
cases_deaths

In [0]:
#Calculating Death Rate
covid_cases["Death Rate"]=cases_deaths["3/14/20"]/covid_cases["3/14/20"]
covid_cases["Death Rate"]

In [0]:
#Predicting case numer
covid_cases["Predicted Cases"]=covid_cases["03/11/2020"]*covid_cases["Growth Rate"]**(3/7)

In [0]:
Gov_impact = (covid_cases["Country"], covid_cases["3/14/20"], covid_cases["Predicted Cases"], covid_cases["Death Rate"])
Gov_impact = pd.DataFrame(data=Gov_impact)
Gov_impact = Gov_impact.T
Gov_impact

In [0]:
#Calculating proxy for government impact
Gov_impact["Government Impact"]=Gov_impact["3/14/20"]-Gov_impact["Predicted Cases"]
Gov_impact["Government Impact"]

In [0]:
#Visualising Government Impact on Confirmed Cases
x=Gov_impact["Country"]
y=Gov_impact["Government Impact"]/Gov_impact["3/14/20"]
plt.bar(x,y)
plt.xlabel('Country', fontsize=10)
plt.ylabel('Government Impact', fontsize=10)
plt.xticks(x, fontsize=10, rotation=45)
plt.title('Government Impact on Confirmed Cases')

In [0]:
#Visualising Government Impact on Lives
x=Gov_impact["Country"]
y=Gov_impact["Government Impact"]*Gov_impact["Death Rate"]/Gov_impact['3/14/20']*1000
plt.bar(x,y)
plt.xlabel('Country', fontsize=10)
plt.ylabel('Government Impact', fontsize=10)
plt.xticks(x, fontsize=10, rotation=45)
plt.title('Government Impact on Lives Saved')

# Creating Growth Rate Dataframe

In [0]:
covid_cases

In [0]:
Country = covid_cases["Country"]
Growth_Rate = pd.DataFrame(data=Country)
Growth_Rate

In [0]:
Growth_Rate["Growth_Rate1"] = covid_cases['03/11/2020']/covid_cases['03/04/2020']
Growth_Rate["Growth_Rate2"] = covid_cases['03/12/2020']/covid_cases['03/05/2020']
Growth_Rate["Growth_Rate3"] = covid_cases['3/13/20']/covid_cases['03/06/2020']
Growth_Rate["Growth_Rate4"] = covid_cases['3/14/20']/covid_cases['03/07/2020']

In [0]:
Growth_Rate

In [0]:
Graph = Growth_Rate.T
Graph.columns=Graph.iloc[0]
Graph=Graph[1:]
Graph.plot()

In [0]:
Graph = pd.DataFrame(data=Graph)

In [0]:
Graph=Graph.drop(["Thailand", "Japan", "Malaysia", "Iraq", "Kuwait", "Iran", "Korea, South"], axis=1)

In [0]:
Graph.plot()